@tailwind base;
@tailwind components;
@tailwind utilities;

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}
hr.color {
  border-color: slategray;
}
hr.margin {
  margin-left: 1rem;
  margin-right: 4rem;
}
